@import 'bootstrap/scss/bootstrap';

//colores
$blanco:#FFFFFE;
$azul-claro:#8ECAE6;
$azul-medio:#219EBC;
$azul-oscuro:#023047;
$naranja:#FFB703;

//fuente
html {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

#body-welcome{
    background-color: $azul-claro;
}

#logo{
    width:50rem;
}

.logo-navbar{
    width: 10rem;
    margin-top: 1rem;
    margin-left: 3rem;
}

.boton{
    border: solid 5px;
    border-color: $azul-oscuro;
    font-size: larger;
    text-decoration: none;
    padding: 2rem;
    border-radius: 50%;
    background-color:$azul-medio;
    color:$naranja;
}

.nav-main{
    background-color: $blanco;
    color: $azul-oscuro;
    border-bottom: solid 1px $azul-oscuro;
    height: 4rem;
}

.grid-1{
    background-color:$azul-oscuro;
}

/* Estilos CSS para el formulario */
.form-container {
    max-width: auto;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #FFB703;
    border-radius: 8px;
    background-color: $azul-medio;
    color: $blanco;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    background-color: $azul-oscuro;
    color: white;
    padding: 10px 20px;
    margin-top: 2rem;
    cursor: pointer;
}

button:hover {
    background-color: $naranja;
    color: $azul-oscuro;
}

/* Estilos CSS para componente plato */

.plato-item {
    background-color: $azul-claro;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: $azul-medio;
    font-family: Arial, sans-serif;
    max-height: 150px;
    overflow: hidden;
  }
  
  .plato-item h4 {
    color: $naranja;
    font-size: 16px; 
  }
  
  .plato-item p {
    color: $azul-oscuro;
    font-size: 14px; 
  }
  
  .plato-item.dots {
    text-align: right;
    margin-top: 10px;
  }
  
  .plato-item.dots::after {
    content: "...";
    color: $azul-oscuro;
  }


